.card1 {
    background: #37305F;
    color: #fff;
}

.card2 {
    background: #F26A8D;
    color: black;
}

.chart {
    box-shadow: 2px 2px 2px gray;
}


/* 
.customer {
    width: 50%;
}

.orders {
    width: 50%;
} */