.night {
    background: #37305F;
    color: #fff
}

.night:hover {
    margin: 10px;
    border-radius: 10px;
}

.cancel {
    background: #37305F;
    color: #fff;
}

.yes {
    background: #F26A8D;
    color: #fff;
}

.filter {
    background: #F26A8D;
    color: #fff;
}

.filter:hover {
    background: red;
    color: #fff;
}

.edit {
    color: #37305F;
    text-decoration: none;
}

.delete {
    color: #F26A8D;
}